* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
header {
    height: 60px;
    position: fixed;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}
.navbar {
    font-weight: bolder;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;

}
.navbar a {
    text-decoration: none;
    color: white;
}
.logo {
    font-size: 0.8rem;
    color: white;
    text-decoration: line-through;
}


/* main content */

main {
    color: white;
}
.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.tekscontent {
    font-size: 1.5em;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    /* margin-bottom: 20px; */
}
.content h1 {
    font-size: 4rem;
}
.content p {
    font-size: 0.8em;
    text-align: center;
}
.buttons button {
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 999px;
    border: 2px solid white;
    background-color: transparent;
    width: 150px;
    font-size: 1.5em;
}
.aboutMe1 {
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.images1 {
    width: 50%;
    display: flex;
    justify-content: center;
}
.images1 img {
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.main-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.aboutMeTeks {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.aboutMeTeks h1 {
    font-size: 4rem;
}
.aboutMe2 {
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.images2 {
    width: 50%;
    display: flex;
    justify-content: center;
}
.images2 img {
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.aboutMeTeks2 {
    order: -1;
    margin-left: 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.aboutMeTeks2 h1 {
    font-size: 4rem;
}
.skills {
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.images3 {
    display: flex;
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.images3 img {
    max-width: 100px;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 14px;


}
.skillsTeks1 h1{
    font-size: 4rem;
    text-align: center;
}
.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.projectsTeks h1 {
    font-size: 4rem;
    text-align: center;

}
.images4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.images4 img {
    max-width: 150px;
    border-radius: 14px;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

@media screen and (max-width: 768px) {
    header {
        height: auto;
    }
    .navbar {
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
    }
    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutMe2,
    .aboutMe1 {
        flex-direction: column;
        gap: 3rem;

    }
    .aboutMe2 {
        height: auto;
    }
    .aboutMeTeks2 {
        margin-left: 0;

    }
    .aboutMeTeks h1, .aboutMeTeks2 h1, .skillsTeks1 h1, .projects h1 {
        font-size: 2rem;
    }
    .main-content {
        gap: 3rem;
    }
}